{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="display-4">About logs analysis </h1>
    <p> <strong> Why this project? </strong></p>
    <p>
      In this project, you will stretch your SQL database skills. You will get practice interacting with a live database both from the command line and from your code. You will explore a large database with over a million rows. And you will build and refine complex queries and use them to draw business conclusions from data.
    </p>
    <p> <strong> Report generation </strong></p>
    <p>
      Building an informative summary from logs is a real task that comes up very often in software engineering. For instance, at Udacity we collect logs to help us measure student progress and the success of our courses. The reporting tools we use to analyze those logs involve hundreds of lines of SQL.
    </p>
  <p> <strong> Database as shared resource </strong></p>
  <p>
    In this project, you'll work with data that could have come from a real-world web application, with fields representing information that a web server would record, such as HTTP status codes and URL paths. The web server and the reporting tool both connect to the same database, allowing information to flow from the web server into the report.
  </p>
  <p>
    This shows one of the valuable roles of a database server in a real-world application: it's a point where different pieces of software (a web app and a reporting tool, for instance) can share data.
  </p>
</div>
{% endblock %}