{% extends "layout.html" %}
{% block content %}


<div class="container">
    <h1 class="display-4">The most popular three articles of all time</h1>
    <ul class="list-group">
       <li class="list-group-item active">Article</li>
       {% for article in articles %}
        <li class="list-group-item justify-content-between">
        {{article[0]}}
        <span class="badge badge-default badge-pill">{{ article[1] }}</span>
        </li>
       {% endfor %}
    </ul>
</div>
<p>
    <a class="navbar-brand" href="{{ url_for('report') }}"><strong> Back</strong></a>
</p>

{% endblock %}