{% extends "layout.html" %}
{% block content %}
<div class="container">

    <p>
        <h1 class="display-4">Reports </h1>
    </p>
    <p class="justify-content-between">
    <hr>
    <h5>Percentage Error <a href ="{{url_for('percentage_error') }}" ><span class="badge badge-pill badge-info"><i class="fa fa-eye" aria-hidden="true"></i></span></a></h5>
    <hr>
    <h5>The most popular three articles of all time <a href ="{{url_for('articles') }}" ><span class="badge badge-pill badge-info"><i class="fa fa-eye" aria-hidden="true"></i></span></a></h5>
    <hr>
    <h5>Most Popular Author <a href ="{{url_for('most_popular') }}" ><span class="badge badge-pill badge-info"><i class="fa fa-eye" aria-hidden="true"></i></span></a></h5>
    <hr>
    </p>
</div>

{% endblock %}